body {
	background-color: #333333;
}
.wrapper {
	width: 940px;
	margin: 0px auto 100px auto;
	padding: 10px;
	color: #FFFFFF;
}

header {
	background-color: #FFFFFF;
	text-align: center;
	padding: 10px;
}

nav {

	text-align: center;
}


aside {
	float: right;
	width: 320px;
}

.content { 
	float: left;
	width: 580px;
	height: auto;
	
}

