body {
	background-color: #303030;
}
.wrapper {
	width: 940px;
	margin: 0px auto 100px auto;
	padding: 10px;
	color: #FFFFFF;
}

header {
	background-color: #FFFFFF;
	text-align: center;
	padding: 10px;
}

aside {
	float: right;
	width: 320px;
	border: 2px solid #3D3D3D;
	background-color: #000000;
	padding: 5px;
}

.content { 
	float: left;
	width: 570px;
	height: auto;
	border: 2px solid #000000;
	padding: 10px;
	
}

.albums {
	text-align: center;
}

a[href] {
	font-style: italic;
}

img[alt*="album"] {
	margin: 10px 0px 10px -30px;
}

div[class$="members"] {
	color:  #878787;
	


}

h1 {
	text-align: center;
}

div[class=influence] {

	border: 2px solid #878787;
	padding-left: 3px;

}

h1[class~="grammy"] + p{
	color:  #878787;

}
